@use '../../shared/config/colors' as colors;

.container {
  background-color: colors.$background-color;
  margin: 20px;
  height: calc(100vh - 40px);
  width: calc(100vw - 40px);

  color: colors.$text-color-light;
}
